
@font-face {
    font-family: OldGrowth;
    src: url('/OldGrowth-Regular.otf');
  }
  @font-face {
    font-family: Flama;
    src: url('/Flama-Regular.otf');
  }
@font-face {
    font-family: Flama;
    src: url('/Flama-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: Flama;
    src: url('/Flama-Medium.otf');
    font-weight: 500;
}
@font-face {
    font-family: Flama;
    src: url('/Flama-Light.otf');
    font-weight: 100;
}
@font-face {
    font-family: Flama;
    src: url('/Flama-LightItalic.otf');
    font-weight: 100;
    font-style: italic
}
@font-face {
    font-family: Flama;
    src: url('/Flama-MediumItal.otf');
    font-weight: 500;
    font-style: italic
}

body {
  --secondary: rgb(46, 40, 40);
  --divider: #343434;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* #root {
  display: flex;
  justify-content: center;
} */

.screen {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 990px;
  flex: 1 1 100%;
  padding: 45px 25px;
}

/* h1 {
  font-weight: bold;
  color: white;
  margin: 6px 0 12px;
} */

.date {
  color: var(--secondary);
  font-size: 14px;
  text-transform: uppercase;
}

/* header {
  border-bottom: 1px solid var(--divider);
  position: relative;
} */

.avatar {
  background: var(--divider);
  border-radius: 50%;
  position: absolute;
  bottom: 12px;
  right: 0;
  overflow: hidden;
}

.avatar,
.avatar img {
  width: 40px;
  height: 40px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 420px;
  width: 100%;
  transform: translateZ(0);
}
 
.title-container {
  position: absolute;
  top: 0;
  left: 0;
  /* max-width: 300px; */
  /* color: '#fff' */
}

/* h2 {
  color: #fff;
  margin: 8px 0;
} */

.category {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;

  transform: translateX(-50%);
}


