
@font-face {
    font-family: OldGrowth;
    src: url('/OldGrowth-Regular.otf');
  }
  @font-face {
    font-family: Flama;
    src: url('/Flama-Regular.otf');
  }
@font-face {
    font-family: Flama;
    src: url('/Flama-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: Flama;
    src: url('/Flama-Medium.otf');
    font-weight: 500;
}
@font-face {
    font-family: Flama;
    src: url('/Flama-Light.otf');
    font-weight: 100;
}
@font-face {
    font-family: Flama;
    src: url('/Flama-LightItalic.otf');
    font-weight: 100;
    font-style: italic
}
@font-face {
    font-family: Flama;
    src: url('/Flama-MediumItal.otf');
    font-weight: 500;
    font-style: italic
}